<div class="container-info">
  <div class="info-need">
    <h2>Everything you need!</h2>
    <span class="check">Unlimited Number of Campaigns</span>
    <span class="check">Unlimited Number of Domains</span>
    <span class="check">All Products Included</span>
    <span class="check">All Features Included</span>
    <p>All this and much more….</p>
    <h3>Trusted by many industry leaders</h3>

    <div class="tech-wrap">
      <img class="techLogo" src="../../assets/img/techLogo.png" alt="logo" />
      <img class="techLogo" src="../../assets/img/techLogo.png" alt="logo" />
      <img class="techLogo" src="../../assets/img/techLogo.png" alt="logo" />
      <img class="techLogo" src="../../assets/img/techLogo.png" alt="logo" />
      <img class="techLogo" src="../../assets/img/techLogo.png" alt="logo" />
    </div>
  </div>
</div>