html {
  overflow-x: hidden;
  --text-color: #ffacc4;
  --info-back: #e5e5e5;
  --link: #ff004c;
  --text-label: #a1a3a7;
  --text-label-input3: #ff1e1e;
}
body,
.registr,
.container-thanks {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
form {
  width: 100%;
}
