<div class="container-thanks">
  <img
    class="logo-TH"
    src="../../assets/img/picturemessage_4seanznx 1.png"
    alt="logo"
  />
  <img class="check-TH" src="../../assets/img/oval.png" alt="oval" />
  <h1>Thanks for Registering!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua!
  </p>

  <button class="btn-thank1">Start free trial</button>
  <button class="btn-thank2">Become a Pro</button>
</div>

